extends layout

block content
  nav.navbar.navbar-fixed-top
    div.container
      div.row
        div.col-xs-10  
          h1 Companion Log
        div.col-xs-1
          a.redcross(href="/emergency")
            i.fa.fa-plus.fa-2x
        div.col-xs-1 
          a.settings
            i.fa.fa-cog.fa-2x         
    div.tabs
      div.row
        div.col-xs-4
          a.links(href="/") Home
        div.col-xs-4
          a.links(href="/calendar") Calendar
        div.col-xs-4
          a.links Alarms
  div.emergency        
    div.container
      iframe( src="https://www.google.com/maps/d/embed?mid=1bCXhiG66O6XDthm4uYsm8nmMKuk" width="100%" height="480")
