@font-face {
    font-family: lazydog;
    src: url(/fonts/lazy_dog.ttf);
}

html
{
  background-color: #DEE7EF;
}

body {
  padding-top: 8em;
  margin-bottom: 0;
  font-family: lazydog;
}

.navbar
{
  background-color:  #000063;
  color: #ffffff;
  font-family: lazydog;
  width: 100%;
  border: none !important;
  margin-bottom: 0 !important;
  height: 8em;
}

h1
{
  margin-top:20px !important;
  padding-bottom: 2px;
}

.col-xs-1
{
  padding: 0px !important;
  text-align: center !important;
}

.settings
{
  color:grey;
  text-align: center;
}

.fa-cog
{
  margin-top: 25px;
}

.fa-plus
{
  margin-top:25px;
}

.settings:hover
{
  color:grey;
}

.redcross
{
  color:red;
  text-align: center;
}

.redcross:hover
{
  color:red;
}

.tabs
{
  margin: 0px 15px;
}

.col-xs-4
{
  padding: 0px !important;
}

.links
{
  text-align: center;
  border: 1px solid black;
  color: #000063;
  background-color: #CE0000;
  display: block;
  padding: 10px 0 10px 0;
  text-decoration: none;
}

.links:hover
{
  color: #000000;
  background-color:  #5A79A5;
  text-decoration: none;
}

.selected
{
  color:#CE0000;
  background-color: #000063;
  font-weight: bold;
  border: 1px solid #DEE7EF;
}

.petinfo, .calendar, .createevent, .emergency
{
  background-color: #DEE7EF;
  font-family: lazydog;

}

.newpet
{
  border: 1px groove black;
  padding:25px ;
  font-size: 25px;
  background-color: #9CAAC6;
  font-family: lazydog;
}

.newpet:hover, .petprofile:hover
{
  background-color: #666;
}

.petprofile
{
  border: 1px groove black;
  padding:  25px;
  font-size: 25px;
  background-color: #9CAAC6;
  font-family: lazydog;
}

#calendar
{
  font-family: lazydog !important;
}
